
# 這些是 Python 為了加速執行而自動產生的檔案，不需要版本控制。
__pycache__/
*.pyc
*.pyo
*.pyd


# 虛擬環境資料夾 

venv/
.venv/
env/


# 開發工具(IDE/編輯器)的設定檔

.vscode/
.idea/


# 驅動程式與外部工具
# 根據我們之前的整理，所有驅動程式都放在 drivers/ 資料夾內。
# 我們要忽略整個資料夾。
drivers/


# 專案產出的資料 

aidata_downloads/


# 忽略任何可能殘留的壓縮檔
*.zip